<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In or Sign Up</title>
    <link rel="stylesheet" href="/style/authentication.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to our website</h1>
        <div class="buttons">
            <a href="/signin" class="button">Sign In</a>
            <a href="/signup" class="button">Sign Up</a>
        </div>
    </div>
</body>
</html>
