<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/style/home.css">
</head>
<body>

        <div class="main-header">
            
                <div class="main-header-logo">   
                     <h2> <span><img src="https://blablacar.com/kairos/assets/images/blablacar_social-2d6e3368079483133513.png" alt=""></span> CAR-SHARING</h2>     
               </div>

                  <div class="main-header-2" >
                             <ul class="main-header-2-list">
                                <li><a href="#"> <i class="fa-solid fa-house"></i> Home</a></li>
                                <li> <i class="fas fa-search"></i> <input type="text" placeholder="  ...Search for ride"></li>
                                <li> <a href="#">  <i class="fa-solid fa-plus"></i>  Publish a ride</a> </li>
                                <li><a href="#"> <i class="fa-solid fa-user-plus"></i> Sign-Up</a></li>
                                <li ><a href="#"><i class="fa-solid fa-right-to-bracket"></i> Sign-In</a> </li>
                               </ul>
                  </div>

               
             
        </div>

         <div class="mid1">

                   <form action="/POST">
                        <i class="fa-solid fa-location-dot"></i> <input  type="text" placeholder="  ...Leaving from">
                        <i class="fa-solid fa-location-dot"></i> <input  type="text" placeholder="  ...Going to">
                   </form>

                    

         </div>

           <div class="mid-2">

                  <div class="mid-2-1">
                      <img src="/assets/two.svg" alt="image">
                       <p  class="mid-2-1-para1" >Your pick of rides at low prices</p>
                       <p >No matter where you’re going, by bus or carpool, find the perfect ride from our wide range of destinations and routes at low prices.</p>
                  </div>
                  <div class="mid-2-2">
                      <img src="/assets/three.svg" alt="image">
                       <p  class="mid-2-2-para1">Trust who you travel with</p>
                       <p>We take the time to get to know each of our members and bus partners. We check reviews, profiles and IDs, so you know who you’re travelling with and can book your ride at ease on our secure platform.</p>
                  </div>
                  <div class="mid-2-3">
                      <img src="/assets/four.svg" alt="image">
                       <p class="mid-2-3-para1" >Scroll, click, tap and go!</p>
                       <p>Booking a ride has never been easier! Thanks to our simple app powered by great technology, you can book a ride close to you in just minutes.</p>
                  </div>

           </div>

           <div class="mid-3">

                  <div class="mid-3-one">
                      <img src="/assets/five.svg" alt="image">
                  </div>

                  <div class="mid-3-two">
                      <p class="mid-3-two-1">Your safety is our priority</p>
                      <p class="mid-3-two-2">At BlaBlaCar, we're working hard to make our platform as secure as it can be. But when scams do happen, we want you to know exactly how to avoid and report them. Follow our tips to help us keep you safe.</p>
                      <button class="mid-3-two-button"><a href="#">Learn more</a></button>
                  </div>

           </div>

           <div class="mid-4">

               <div class="mid-4-two">
                    <p class="mid-4-two-1">Driving in your car soon?</p>
                    <p class="mid-4-two-2">Good news, drivers: get rewarded for your good habits! Earn the Carpool Bonus by completing 3 carpools in 3 months. See eligibility conditions.</p>
                    <button class="mid-4-two-button"><a href="#">Learn more</a></button>
                </div>

               <div class="mid-4-one">
                   <img src="/assets/six.svg" alt="image">
               </div>

            </div>

          <div class="mid-5">

          </div>  


        <script src="https://kit.fontawesome.com/faefb97bbf.js" crossorigin="anonymous"></script> 
      
</body>
</html>