<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Publish Ride</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.js"></script>

  <link rel="stylesheet" href="/style/publishRide.css">
</head>
<body>
  <h1>Publish Ride</h1>

  <div class="ride-form">
    <form action="/publish-ride" method="post">
      <label for="source">Source:</label>
      <input type="text" id="source" name="source" required>

      <label for="destination">Destination:</label>
      <input type="text" id="destination" name="destination" required>

      <label for="rideDate">Ride Date:</label>
      <input type="text" id="rideDate" name="rideDate" class="datepicker" placeholder="dd-mm-yyyy" required>

      <label for="startTime">StartTime:</label>
      <input type="text" id="starttime" name="starttime" required>

      <label for="endtime">EndTime:</label>
      <input type="text" id="endtime" name="endtime" required>


      <label for="price">Total Price For 1 Passenger:</label>
      <input type="number" id="price" name="price" required>

      <label for="time">Total Expected Time:</label>
      <input type="text" id="time" name="time" required>

      <label for="carName">Car Name:</label>
      <input type="text" id="carName" name="carName" required>

      <label for="instruction">Drivers Instructions:</label>
      <textarea id="instruction" name="instruction" rows="4" required></textarea>

      <button type="submit">Publish Ride</button>
    </form>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      flatpickr("#rideDate", {
        dateFormat: "d-m-Y",
        enableTime: false,  
      });
    });
  </script>

</body>
</html>

